/* Styles for med list entry */

.med-list .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.med-list .row:nth-child(even){ /* zebra striping rows */
    background-color: #dcdcdc;
}
.med-list .row:nth-child(odd){
    background-color: #aaaaaa;
}

.med-list .row:nth-child(1){ /* but exclude the header */
    background-color: white;
}




/* Styles for Account Edit page */

.userInfoField{

}

.userInfoField:valid{
    background-color:#ddffdd;
}

.userInfoField:invalid{
    background-color:#ffdddd;
}

.userInfoField:required{
    border-color:#800000;
    border-width:3px;
}

.passwordField:invalid{
    background-color:#ffdddd;
}

.editableField{

}