/* Styles for med list entry */

.med-list .title {
    padding-bottom: 20px;
}

.med-list .header {
    font-weight: bold;
    background-color: #4bc2ca;
}

.med-list .header div {
    /* TODO: make headers align to bottom of row */
}

.med-list .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.med-list .med:nth-child(even){ /* zebra striping rows */
    background-color: #c9def2;
}
.med-list .med:nth-child(odd){
    background-color: #f2f7fc;
}

.med-list .buttons {
    padding-top: 15px;
}

.success-message {
    background-color: #48ff2c;
}

/* Styles for Account Edit page */

.userInfoField{

}

.userInfoField:valid{
    background-color:#ddffdd;
}

.userInfoField:invalid{
    background-color:#ffdddd;
}

.userInfoField:required{
    border-color:#800000;
    border-width:3px;
}

.passwordField:invalid{
    background-color:#ffdddd;
}

.editableField{

}

/* Styles for MedEntry Page */

.alternativeName {
    background-color:inherit; /* make field less prominent */
    padding-left: 0px;  /* no spacing to align with EHR medication name */
    padding-right: 0px;
}

.med-list-container{
    overflow-y: auto; 
    height: 6vh
}

.focusWhenVisible{ /* for compliance and prescriber field */
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.removePadding{ /* remove padding of Frequency dropdown */
    padding-left: 0px;
}

/* End of Styles for MedEntry Page */
